Package: alephone-nightly
Version: 1.3-nightly
Maintainer: Aleph One Developers / The Mirata Project
Architecture: amd64
Description: Nightly Builds of the Aleph One Engine, brought to you by the Mirata Project. These may or may not work.
Homepage: https://bamboo.chancecallahan.com
